.o_lvfh_column_chooser {
    width: 1%;
    white-space: nowrap;
}

.o_lvfh_dropdown .o_lvfh_toggle {
    padding-left: 6px;
    padding-right: 6px;
}

.o_lvfh_menu .o_lvfh_field_item {
    display: flex;
    align-items: center;
}

.o_lvfh_menu .o_lvfh_field_item .o_checkbox {
    margin-right: 6px;
}

.o_lvfh_menu .o_lvfh_field_label {
    flex: 1 1 auto;
}


